/* ---------- General ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 3800px;
  margin-left: auto;
  margin-right: auto;
}

.arrow-container {
  width: 1.4rem;
  margin-top: .1rem;
  cursor: pointer;
  transition: .3s;
}

.arrow-container:hover {
  opacity: .5;
}

.rotate {
  transform: rotate(180deg);
}

/* ---------- Fonts ---------- */

@font-face {
  font-family: 'hel-obli';
  src: url('./fonts/Helvetica-Oblique.ttf');
}

@font-face {
  font-family: 'hel-reg';
  src: url('./fonts/Helvetica.ttf');
}

/* ---------- CSS Variables ---------- */

:root {
  --big-font: 1.4rem;
  --reg-font: 1rem;
  --small-font: .8rem;

  --gap: 2.3rem;
}

/* ---------- Home ---------- */

.about-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 39%;
  height: 100vh;
  font-family: 'hel-reg';
  color: #fff;
  background-color: #000;
  padding: var(--gap);
}

.intro {
  font-size: var(--big-font);
  line-height: 1.9rem;
  margin-bottom: var(--gap);
  margin-top: -.2rem;
}

.intro-action {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: .3s;
}

.intro-action:hover {
  opacity: .5;
}

.intro-arrow-container {
  width: 1.4rem;
  margin-top: .1rem;
  cursor: pointer;
}

.intro-action p,
.bottom p {
  font-size: var(--reg-font);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: var(--big-font);
  margin-bottom: var(--gap);
}

.job {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  margin-bottom: var(--gap);
}

.title-details-container {
  width: 16rem;
}

.company-name,
.skill {
  font-size: var(--reg-font);
  margin-bottom: .2rem;
}

.time-period,
.job-title,
.job-details {
  font-size: var(--small-font);
  line-height: 1rem;
}

.time-period,
.job-title {
  font-family: 'hel-obli';
}

.job-title {
  margin-bottom: .5rem;
}

.skills-container {
  padding-top: var(--gap);
}