/* ---------- Fonts ---------- */

@font-face {
  font-family: 'hel-obli';
  src: url('./fonts/Helvetica-Oblique.ttf');
}

@font-face {
  font-family: 'hel-reg';
  src: url('./fonts/Helvetica.ttf');
}

/* ---------- CSS Variables ---------- */

:root {
  --big-font: 1.4rem;
  --reg-font: 1rem;
  --small-font: .8rem;

  --gap: 2.3rem;
}

/* ---------- General ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 3800px;
  margin-left: auto;
  margin-right: auto;
}

.arrow-container {
  width: 1.4rem;
  cursor: pointer;
  transition: .3s;
}

.arrow-container:hover {
  opacity: .5;
}

.rotate {
  transform: rotate(180deg);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom p {
  font-size: var(--reg-font);
}

.title-reg {
  font-family: 'hel-reg';
  font-size: var(--reg-font);
  margin-bottom: .2rem;
}

.year-obli,
.title-obli {
  font-family: 'hel-obli';
  font-size: var(--small-font);
}

/* ---------- Home ---------- */

.home {
  display: flex;
}

.about-container {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 39%;
  height: 100vh;
  font-family: 'hel-reg';
  color: #fff;
  background-color: #000;
  padding: var(--gap);
}

/* ---------- Intro ---------- */

.intro {
  font-size: var(--big-font);
  line-height: 1.9rem;
  margin-bottom: var(--gap);
  margin-top: -.2rem;
}

.intro-action {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: .3s;
  margin-bottom: .2rem;
}

.intro-action:hover {
  opacity: .5;
}

.intro-arrow-container {
  width: 1.4rem;
  margin-top: .1rem;
  cursor: pointer;
}

.intro-action p {
  font-size: var(--reg-font);
}

.to-projects-action {
  display: none;
}

/* ---------- Exp And Skills ---------- */

.exp-container {
  margin-bottom: calc(var(--gap) * 2);
}

.exp-skills-container {
  margin-top: -.08rem;
}

.header {
  font-size: var(--big-font);
  margin-bottom: var(--gap);
}

.job {
  display: flex;
  justify-content: space-between;
  column-gap: var(--gap);
  margin-bottom: var(--gap);
}

.name-time-container {
  min-width: 7.8rem;
}

.title-details-container {
  width: 16rem;
}

.job-details {
  font-size: var(--small-font);
  line-height: 1rem;
  margin-top: .4rem;
}

.skill {
  font-size: var(--reg-font);
  line-height: 1.35rem;
}

/* ---------- Covers ---------- */

.covers {
  width: 61%;
  padding: var(--gap);
  padding-bottom: 0;
}

.cover {
  display: flex;
  column-gap: var(--gap);
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: var(--gap);
  cursor: pointer;
  transition: .3s;
}

.cover:hover {
  opacity: .5;
}

.cover-info-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.cover-img-container {
  width: 60%;
}

/* ---------- Media Query ---------- */

@media screen and (max-width: 1050px) {
  .about-container {
    width: 50%;
  }

  .job {
    flex-direction: column;
    row-gap: calc(var(--gap) / 2);
  }

  .title-details-container {
    width: 100%;
  }

  .skills {
    display: flex;
    justify-content: space-between;
  }

  .cs-skills-container{
    text-align: right;
  }

  .cover {
    flex-direction: column;
    row-gap: calc(var(--gap) / 2);
    margin-bottom: calc(var(--gap) * 2);
  }

  .cover-info-container,
  .cover-img-container {
    width: 100%;
  }
}

@media screen and (max-height: 856px) {
  .exp-container {
    margin-bottom: var(--gap);
  }
}

@media screen and (max-width: 830px) {
  .rotate-90 {
    transform: rotate(90deg);
    position: absolute;
    bottom: 3.4rem;
    right: 1.1rem;
  }
}

@media screen and (max-height: 755px) {
  .skills {
    display: flex;
    justify-content: space-between;
  }

  .cs-skills-container{
    text-align: right;
  }
}

@media screen and (max-width: 725px) {
  .home {
    flex-direction: column;
  }

  .about-container {
    width: 100%;
    position: static;
  }

  .title-details-container {
    width: 16rem;
  }

  .covers {
    width: 100%;
  }

  .to-projects-action {
    display: block;
  }

  .rotate-90 {
    transform: none;
    position: static;
    bottom: auto;
    right: auto;
  }
}

@media screen and (max-height: 724px) {
  .name-time-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --gap: 1.7rem;
  }
}